.color{
  color: #FF6F00;
}
.banner-section{
 padding: 50px;
 background-color: #F8F8F8;
}
.banner-section h1{
  font-size: 60px;
  margin-bottom: 20px;
}
.banner-section p{
  font-size: 20px;
}
/* service section css */
.title{
  display: flex;
  align-items: center;
  gap: 50px;
}
.title::before{
  content: '';
  width: 30%;
  background-color: #644F9C;
  display: inline-block;
  height: 2px;

}
.title::after{
  content: '';
  width: 30%;
  background-color: #644F9C;
  display: inline-block;
  height: 2px;
}
.services{
  margin: 100px 0px;
}

.service-row{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 200px;
  justify-content: space-between;
  margin-top: 50px;
}
.service-img{
  padding: 40px;
  border-radius: 50%;
}

.service-info button{
  width: 100%;
  border: 0;
  padding: 10px;
  background-color: #644F9C;
  color: white;
  border-radius: 50px;
  font-size: larger;
}

