a{
  text-decoration: none;
}
.color{
  color: #FF6F00;
}

.active{
  background-color: #FF6F00 !important;
  color: white ;
}
.banner-section{
 padding: 50px;
 background-color: #F2F2F2;
}
.banner-section h1{
  font-size: 60px;
  margin-bottom: 20px;
}
.banner-section p{
  font-size: 20px;
}
/* service section css */
.title{
  display: flex;
  align-items: center;
  gap: 50px;
  color: #644F9C;
}
.title::before{
  content: '';
  width: 30%;
  background-color: #644F9C;
  display: inline-block;
  height: 2px;

}
.title::after{
  content: '';
  width: 30%;
  background-color: #644F9C;
  display: inline-block;
  height: 2px;
}
.services{
  margin: 100px 0px 200px 0px;
}

.service-row{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  justify-content: space-around;
  margin:100px;
}
.service-img{
  padding: 40px;
  border-radius: 50%;
}

.service-info .button{
  cursor: pointer;
  width: 100%;
  border: 0;
  padding: 10px;
  background-color: #644F9C;
  color: white;
  border-radius: 50px;
  font-size: larger;
}

/* nested-btn css */

.nested-btn button{
  width: 100%;
  border: 0;
  background-color: white;
  box-shadow: 5px 2px 10px #ccc;
  padding:10px 0 ;
  border-radius: 50px;
  margin: 0px 10px;
  cursor: pointer;
  text-align: center;
}
.add-info p{
  margin: 30px 0px 100px 0px;
  font-size: larger;
  line-height: 2rem;
}
.learn-link {
  text-decoration: none;
  color: #644F9C;
  font-size: larger;
}

/* achievement css */

.achievement{
  margin-top: 150px;
  background-color: #644F9C;
  padding: 50px;
}
.circle-1, .circle-2, .circle-3{
  border: 2px dotted white;
  border-radius: 50%;
  color: white;
  padding: 115px 0;
  font-size: larger;
}
.circle-1 h1, .circle-2 h1, .circle-3 h1{
  font-size: 55px;
}

.circle-2{
  background-color: #ffffff;
  color: #644F9C;
  border: 0;

}
.circle-3{
  border: 0;
  background-color: #FF6F00;
  color: white;
}
/* sliders css */

.sliders{
  padding: 100px 0;
}

.slide{
  width: 90% !important;
  border-radius: 10px;
  box-shadow: 5px 2px 10px #ccc;
  margin: 50px 10px;
  gap: 10px;

}
.slide img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: top center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


.slick-next:before {
  box-shadow: 5px 2px 10px #ccc;
  background-color: #ffffff !important;
  position: absolute;
  width: 50px;
  padding:15px 10px;
  border-radius: 50%;
  color: #644F9C !important;
  margin-top: 180px;
  margin-left: -42rem;
}

.slick-prev:before{
  box-shadow: 5px 2px 10px #ccc;
  color: #644F9C !important;
  background-color: #ffffff !important;
  position: absolute;
  width: 50px;
  padding:15px 10px;
  border-radius: 50%;
  margin-top: 180px;
  margin-left: 36rem;
}
.slick-dots {
  display: none !important;
 }

 