.color{
  color: #FF6F00;
}
.banner-section{
 padding: 50px;
 background-color: #F8F8F8;
}
.banner-section h1{
  font-size: 60px;
  margin-bottom: 20px;
}
.banner-section p{
  font-size: 20px;
}
/* service section css */

.services{
  margin: 50px 0px;
}

.service-row{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 200px;
  justify-content: space-between;
}
.service-img{
  padding: 40px;
  border-radius: 50%;
}

.div button{
  width: 100%;
  border: 0;
  padding: 10px 50px;
  background-color: #644F9C;
  color: white;
  border-radius: 50px;
}

